<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audi-Analysis</title>


</head>
<body>
<h1>AUDI Sales in Europe</h1>
 <iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/5.embed"></iframe>
<br>
<br>
<iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/3.embed"></iframe>
<br>
<br>
<iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/64.embed"></iframe>
</body>
</html>