<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bugatti-Analysis</title>


</head>
<body>
<h1>Bugatti Sales in Europe</h1>
 <iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/61.embed"></iframe>
<br>
<br>
<iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/59.embed"></iframe>
<br>
<br>
<iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/80.embed"></iframe>

</body>
</html>