<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercedes-benz-Analysis</title>


</head>
<body>
<h1>MERCEDES-BENZ Sales in Europe</h1>
 <iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/57.embed"></iframe>
<br>
<br>
<iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/55.embed"></iframe>
<br>
<br>
<iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/76.embed"></iframe>
</body>
</html>