<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volkswagen-Analysis</title>


</head>
<body>
<h1>VOLKSWAGEN Sales in Europe</h1>
 <iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/16.embed"></iframe>
<br>
<br>
<iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/43.embed"></iframe>
<br>
<br>
<iframe width="720" height="480" frameborder="0" scrolling="no" src="//plotly.com/~akshatchoudhary58/68.embed"></iframe>
</body>
</html>